svg {
    background-color: lightblue;
}

.province {
    opacity:1;
    stroke:#000000;
    stroke-width:1.0;
    stroke-dasharray:none;
    stroke-opacity:1;
}

.province:hover  {
    fill: red;
}

#uk {
    fill: lightcoral;
}
